@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="SearchController">

    <label>Search the SWAPI:</label>
    <input type="text" ng-model="searchQuery" placeholder="ie. Luke">
    <button ng-href="#" ng-click='doSearch(resourceType, searchQuery)'>Search</button>
    <br />
    <label>
        <input type="radio" ng-model="resourceType" value="people" />
        People
    </label>
    <label>
        <input type="radio" ng-model="resourceType" value="species" />
        Species
    </label>
    <label>
        <input type="radio" ng-model="resourceType" value="planets" />
        Planets
    </label>

    <dl class="dl-horizontal">
        <dt class="resultsHeader">{{result.msg}}</dt>
        <br /><br />
        <dt ng-repeat-start="(key, value) in result" ng-hide="$first">{{key}}</dt>
        <dd ng-repeat-end ng-hide="$first">{{value}}</dd>
    </dl>
</div>