@{
    Layout ="~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="SearchController">

    <label>Search the SWAPI:</label>
    <input type="text" ng-model="searchQuery" placeholder="ie. Luke">
    <button ng-href="#" ng-click='doSearch(resourceType, searchQuery)'>Search</button>
    <br />
    <label>
        <input type="radio" ng-model="resourceType"  value="people"/>
        People
    </label>
    <label>
        <input type="radio" ng-model="resourceType" value="species" />
        Species
    </label>
    <label>
        <input type="radio" ng-model="resourceType" value="planets" />
        Planets
    </label>
    <h2>returnVal = {{returnVal}}</h2>

</div>